#title
{
    margin-top: 1rem;
    font-size: 60px;
    font-weight: bolder;
    color: white;
    background-color: black;
}

#board
{
    background-color: wheat;
}

#bj-page
{
    background-color: darkgreen;
}

.navbar-bj
{
    background-color: darkgreen;
}

.buttons
{
    margin-top: 2rem;
}

.hidden
{
    display: none;
}

.card
{
    margin-right: 0.5rem;
}

.wrapper
{
    text-align: center;
}

#main-container
{
    margin-top: 6rem;
}